In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('D:\\projects\\DS_Pilot\\Задача от finstar\\sample test.xlsx')

In [9]:
encoded = pd.get_dummies(df)
encoded.head()

,fpd_5,account_last_week,age,gender,mobile_phone_prefix,year_month_2018-10,year_month_2018-11,year_month_2018-12,year_month_2019-01,social_status_word_BPO Professionals,...,company_name_parsed_philippines,company_name_parsed_police,company_name_parsed_sari,company_name_parsed_school,company_name_parsed_security,company_name_parsed_services,company_name_parsed_solutions,company_name_parsed_tele,company_name_parsed_teleperformance,company_name_parsed_university
0,0,0,34,2,905,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,42,2,932,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,22,2,917,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,50,2,906,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,31,2,916,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0